<html>
    <head>
        <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
        <link rel="stylesheet" href="/static/style.css">
        <title>Sprint_1</title>
        
    </head>
    <body>
        
        <div id = "window">
            <p>Use the Draw Stage Button to start drawing a polygon. You can right-click, press enter, or use the Finish Drawing button to stop drawing.</p>
            <p>Use the select button or click on a shape to drag it around, resize, and rotate it.</p>

            <br>
            <div class="buttons">
                <button id="selectShape">Select</button>
                <button id="drawStage">Draw Stage</button>
                <button id="finishDrawing">Finish Drawing</button>
            </div>
            
            <div id="myDiagramDiv"></div>
            
        </div>
        
        <script src="/static/PolygonDrawingTool.js"></script>
        <script src="/static/test_1.js"></script>
        
    </body>
</html>
