<html>
    <!--GO.JS CDN-->
    <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
    <!--EXPORT CDNs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <!--CONNECT TO JAVASCRIPT FILE-->
    <script src="/static/Javascript.js"></script>
     
     
     <body   id="D&D_body"   onload="JSMain()">
        <div   id="myDiagramDiv"   style="width:800px; height:800px; background-color: #DAE4E4;">
        </div>
     </body>


    <button   type="button"   id="export_button"   onclick="exportToPDF()">Export to PDF</button>
    <button onclick="addSquare()">Square</button>
    <button onclick="addCircle()">Circle</button>
    <button onclick="addTriangle()">Triangle</button>

</html>