<html>
    <script src="https://unpkg.com/gojs/release/go-debug.js"></script>

    <div id="myDiagramDiv"
     style="width:800px; height:800px; background-color: #DAE4E4;"></div>
     
     
     <script>
        const myDiagram =
    new go.Diagram("myDiagramDiv",
        { // enable Ctrl-Z to undo and Ctrl-Y to redo
        "undoManager.isEnabled": true
        });

    myDiagram.model = new go.Model(
    [ // for each object in this Array, the Diagram creates a Node to represent it
        { key: "A" },
        { key: "B" },
        { key: "C" },
        { key: "D" },
        { key: "E" }
    ]);
     </script>
</html>