<html>
    <head>
        <!--GO.JS CDN-->
        <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
        <!--EXPORT CDNs-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
        <!--CONNECT TO JAVASCRIPT FILES-->
        <script src="/static/Javascript.js"></script>
        <script src="/static/PolygonDrawingTool.js"></script>
    </head>

    <div style="width: 100%;">
        <div style="width: 10%; height: 710px; float: left;"> 
            <div class="buttons">
                <h2>Create Area</h2>
                <button id="drawStageButton">Draw Stage</button><br><br>
                <button id="finishDrawingButton">Finish Drawing</button>
            </div>
            <hr>
            <div>
                <h2>Create Node</h2>
                <button id="squareButton">Square</button><br><br>
                <button id="circleButton">Circle</button><br><br>
                <button id="triangleButton">Triangle</button>
            </div>
            <hr>
        
            <h2>Save and Export</h2>
            <button type="button" id="exportButton" onclick="exportToPDF()">Export to PDF</button>
        </div>
        <div style="margin-left: 10%; height: 705px;"> 
            <body   id="D&D_body">
                <div   id="diagramDiv"   style="width:1100px; height:705px; margin-left: 10%; background-color: #DAE4E4;"></div>
             </body>
        </div>
    </div>

</html>